**Assignment: SQL Notebook for Peer Assignment**

In [4]:
url='spacex.csv'

**Connect to the database**

*Let us first load the SQL extension and establish a connection with the database*

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

*Note:This below code is added to remove blank rows from table*

In [9]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

**Tasks**
*Now write and execute SQL queries to solve the assignment tasks.*

**Note: If the column names are in mixed case enclose it in double quotes For Example "Landing_Outcome"**

*Task 1*
*Display the names of the unique launch sites in the space mission*

In [24]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)

**Task 2**
*Display 5 records where launch sites begin with the string 'CCA'*

In [28]:
df[df['Launch_Site'].str.startswith('CCA')].head(5)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

**Task 3**
*Display the total payload mass carried by boosters launched by NASA (CRS)*

In [34]:
df.loc[df['Customer'] == 'NASA (CRS)', 'PAYLOAD_MASS__KG_'].sum()

45596

**Task 4**
*Display average payload mass carried by booster version F9 v1.1*

In [36]:
df.loc[df['Booster_Version'] == 'F9 v1.1', 'PAYLOAD_MASS__KG_'].mean()

2928.4

**Task 5**
*List the date when the first succesful landing outcome in ground pad was acheived.*

In [38]:
df.loc[df['Landing_Outcome']=='Success', 'Date'].min()

'2018-07-22'

**Task 6**
*List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000*

In [42]:
df.loc[(df['PAYLOAD_MASS__KG_'] > 4000) & (df['PAYLOAD_MASS__KG_'] < 6000), 'Booster_Version']

10           F9 v1.1
11     F9 v1.1 B1011
15     F9 v1.1 B1014
17     F9 v1.1 B1016
21       F9 FT B1020
23       F9 FT B1022
27       F9 FT B1026
30       F9 FT B1030
31    F9 FT  B1021.2
32     F9 FT B1032.1
40     F9 B4 B1040.1
42    F9 FT  B1031.2
46     F9 B4 B1043.1
47    F9 FT  B1032.2
55    F9 B4  B1040.2
59     F9 B5 B1046.2
62     F9 B5 B1047.2
65        F9 B5B1054
67     F9 B5 B1048.3
71    F9 B5 B1051.2
87      F9 B5B1060.1
88    F9 B5 B1058.2
96      F9 B5B1062.1
Name: Booster_Version, dtype: object

**Task 7**
*List the total number of successful and failure mission outcomes*

In [48]:
df['Mission_Outcome'].value_counts().sum()

101

**Task 8**
*List the names of the booster_versions which have carried the maximum payload mass. Use a subquery*

In [64]:
 df.loc[df['PAYLOAD_MASS__KG_'] == df['PAYLOAD_MASS__KG_'].max(), 'Booster_Version'].unique()

array(['F9 B5 B1048.4', 'F9 B5 B1049.4', 'F9 B5 B1051.3', 'F9 B5 B1056.4',
       'F9 B5 B1048.5', 'F9 B5 B1051.4', 'F9 B5 B1049.5',
       'F9 B5 B1060.2 ', 'F9 B5 B1058.3 ', 'F9 B5 B1051.6',
       'F9 B5 B1060.3', 'F9 B5 B1049.7 '], dtype=object)

**Task 9**
*List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.*
**Note: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [81]:
# Convert the 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# Filter the records to only include those in 2015
df_2015 = df[df['Date'].dt.year == 2015]

# Extract the month from the 'Date' column
df_2015['Month'] = df_2015['Date'].dt.month

# Replace the month numbers with month names
df_2015['Month'] = df_2015['Month'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
                                           ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

# Filter the records to only include those with a 'Failure' landing outcome in a drone ship
failure_drone_ship = df_2015[(df_2015['Landing_Outcome'] == 'Failure') & (df_2015['Landing_Outcome'] == 'Drone Ship')]

# Select the desired columns
result = failure_drone_ship[['Month', 'Landing_Outcome', 'Booster_Version', 'Launch_Site']]

result

C:\Users\user\AppData\Local\Temp\ipykernel_3232\3699239509.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['Month'] = df_2015['Date'].dt.month
C:\Users\user\AppData\Local\Temp\ipykernel_3232\3699239509.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2015['Month'] = df_2015['Month'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],

Empty DataFrame
Columns: [Month, Landing_Outcome, Booster_Version, Launch_Site]
Index: []

**Task 10**
*Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.*

In [79]:
filtered_df = df[(df['Date'] >= '2010-06-04') & (df['Date'] <= '2017-03-20')]

outcome_counts = filtered_df['Landing_Outcome'].value_counts().reset_index()

outcome_counts.columns = ['Landing_Outcome', 'Count']

outcome_counts = outcome_counts.sort_values('Count')

outcome_counts

          Landing_Outcome  Count
7  Precluded (drone ship)      1
5     Failure (parachute)      2
6    Uncontrolled (ocean)      2
3      Controlled (ocean)      3
4    Success (ground pad)      3
1    Failure (drone ship)      5
2    Success (drone ship)      5
0              No attempt     10